{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>ABOUT US</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <style>
    h4{
        color: crimson;
        text-align: center;
    }
    p{
        color: purple;
    }
    </style>
<div class="container">
        <h4><b>ABOUT DURGA SOFTWARE SOLUTIONS</b></h4>
       <p> DURGA SOFTWARE SOLUTIONS an ISO 9001:2008 Certified Organization,a divsion of Durga  organizations is the one and only place providing in-depth training on all latest Java/J2ee technologies and Java Certifications for the last decade.
       Every blog and forum around the globe will represent DURGA SOFT as pioneer and leader in Java Certification training. When the discussion comes on Java, all the online communities will have only one word DURGA SOFT

       DURGA SOFT is founded by IT industry experts and the faculty is expertise in multiple domains.DURGASOFT'S management and teaching faculty includes either working IT professionls/expertise in IT industry. All of them are highly experienced in designing/development of software solutions in their respective domains.

      The training at DURGA SOFT is not just like normal classroom sessions. The training is completely industry oriented and interview oriented.During the initial days of training itself, trainees will get the confidence that they can get through any difficult interview or any tough job. All the concepts will be taught with realtime exam ples and in an easily understandable way.

      Getting job in IT industry after completing course in DURGA SOFT is not a big deal.Getting selected in a job interview and getting 100 percentage in Java Certification is the daily common news at DURGA SOFT.

      Among all the trainees in DURGA SOFT, 30-40% of the trainees are wor king IT professionls in various MNCs. This clearly indicates that the DURGA SOFT's teach ing methodogy is beyond the industry standards.

      DURGA SOFT is highly successful in providing training to thousands of students and boosting their confidence levels to get placed in MNCs across the globe. Finding a DURGA SOFT student in every MNC is not at all a surprise.

      DURGA SOFT curriculum is not based on any book or any training material. It follows the exact curriculum mentioned by SUN Microsystems(ORACLE at present). The courses are designed to keep pace  with the changing needs and times. DURGA SOFT teaches every topic starting from the fundamentals to the  most advanced  levels, with the most experienced trainers and with the most effective training methodologies . </p>
</div>
{% endblock %}
</body>
</html>