{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>CONTACT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <style>
    .container{
        border: 2px solid red;
        background-color: chartreuse;
        width: 500px;
    }
    </style>
<h4>Contact Form</h4>
    <div class="container">
    <div class="row">
        <div class="offset-md-0 col-md-12">
    <form method="POST">
        {% csrf_token %}
    <label>Enter YOur Name</label>
    <input type="text" name="sname" placeholder="Your Name" class="form-control">

    <label>Enter YOur Email ID</label>
    <input type="email" name="semail" placeholder="Your Email ID" class="form-control">

    <label>Enter YOur Mobile Number</label>
    <input type="number" name="smobile" placeholder="Your Mobile No" class="form-control">

    <label>Enter YOur Location</label>
    <input type="text" name="slocation" placeholder="Your Location" class="form-control">
        <center>
        <input type="submit" value="Send" class="btn btn-success">
        <input type="reset" value="Clear" class="btn btn-danger">
        </center>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
</body>
</html>
